<div class="wrapper">
  <div class="count-div">
    <p>No. of {{countingVowel ? 'Vowels' : 'Consonants' }}: <span class="count-box">{{count}}</span></p>
  </div>
  <kendo-textarea class="content-box"
      placeholder="Enter your text..."
      [rows]="10"
      resizable="vertical"
      [(value)] = "text"
      (input) = "handleChange()"
    />
  <div class="buttons-div">
    <button (click)="resetText()" class="reset-btn">Reset Text</button>
    <button (click)="toggleCountType(countingVowel)" class="count-btn">Count {{!countingVowel ? 'Vowels' : 'Consonants' }}</button>
  </div>
</div>